/.metadata
/.recommenders
/RemoteSystemsTempFiles
*.snap
*.zip
*.xml
*.xmi
*.index
*.dat
*.lck
*.DS_Store
*.vpp.bak_001d
*.vpp.bak_000f
*.vpp.bak_002d
*.vpp.bak_003d
*.vpp.bak_004d
*.vpp.bak_005d
